doctype html
html( ng-app='romaleev' )
	head
		meta( charset='utf8' )
		meta( name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" )
		meta( name="author" content="Roman Malieiev" )
		meta( name="keywords" content="romaleev, Roman Malieiev, web developer" )
		meta( name="description" content="Roman Malieiev | Web Developer" )
		meta( name="fragment" content="!" )

		title( ng-bind="'Roman Malieiev - ' + $state.current.title" )
		base( href="/" )
		link( href="img/favicon.ico", rel="shortcut icon" )

		// build:css styles/vendor.css
		//- vendorCSS:css
		link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="../bower_components/fontawesome/css/font-awesome.min.css")
		//- endinject
		// endbuild

		// build:css styles/styles.css
		//- userCSS:less
		link(rel="stylesheet", href="app/app.css")
		link(rel="stylesheet", href="app/home/home.css")
		link(rel="stylesheet", href="app/people/details.css")
		link(rel="stylesheet", href="app/people/people.css")
		//- endinject
		// endbuild

	body
		nav.navbar.navbar-default.navbar-fixed-top( id="navbar" ng-controller="NavbarCtrl" )
			div.container-fluid
				div.navbar-header
					button.navbar-toggle( type="button" data-toggle="collapse" data-target=".navbar-collapse" )
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand( ui-sref="home" )
						img.logo( alt="Roman Malieiev", src="img/logo.jpg" )
						span( ng-bind="header_title" )

				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li( ui-sref-active="active" )
							a.hidden-xs( ui-sref="home" ) Home
							a.visible-xs( ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse" ) Home
						li( ng-class="{ active: $state.includes('people') }" )
							a.hidden-xs( ui-sref="people.list" ) People
							a.visible-xs( ui-sref="people.list" data-toggle="collapse" data-target=".navbar-collapse" ) People

		div.container-fluid( ui-view )

		hr

		div.text-center
			p © Roman Malieiev 2012 - 2015

		// build:js scripts/vendor.js
		//- vendorJS:js
		script(src="../bower_components/jquery/dist/jquery.min.js")
		script(src="../bower_components/angular/angular.min.js")
		script(src="../bower_components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="../bower_components/angular-sanitize/angular-sanitize.min.js")
		script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
		//- endinject
		// endbuild

		// build:js scripts/scripts.js
		//- userJS:js
		script(src="app/app.js")
		script(src="components/filters.js")
		script(src="app/home/home.controller.js")
		script(src="app/people/people.controller.js")
		script(src="components/services/home.service.js")
		script(src="components/services/people.service.js")
		//- endinject
		// endbuild