doctype html
html( ng-app='romaleev' manifest='http://romaleev.com/romaleev.appcache')
	head
		meta( charset='utf8' )
		meta( name="apple-mobile-web-app-capable" content="yes" )
		meta( name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" )
		meta( name="author" content="Roman Malieiev" )
		meta( name="keywords" content="romaleev, Roman Malieiev, web developer" )
		meta( name="description" content="Roman Malieiev | Web Developer" )
		meta( name="fragment" content="!" )

		title( ng-bind="pageTitle" )
		base( href="/" )
		link( href="assets/img/favicon.ico", rel="shortcut icon" )

		// build:css styles/vendor.css
		//- vendorCSS:css
		link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="../bower_components/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="../bower_components/json-formatter/dist/json-formatter.min.css")
		//- endinject
		// endbuild

		// build:css styles/styles.css
		//- userCSS:less
		link(rel="stylesheet", href="app/app.css")
		link(rel="stylesheet", href="app/home/home.css")
		link(rel="stylesheet", href="app/people/details.css")
		link(rel="stylesheet", href="app/people/people.css")
		link(rel="stylesheet", href="app/validation/validation.css")
		link(rel="stylesheet", href="components/directives/form/form-parent/form-parent.css")
		//- endinject
		// endbuild

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-60757328-1', 'auto');
			ga('send', 'pageview');
		script( type="application/ld+json").
			{ "@context" : "http://schema.org",
			  "@type" : "Organization",
			  "name" : "Roman Malieiev",
			  "logo": "http://romaleev.com/assets/img/roma.jpg",
			  "url" : "http://romaleev.com",
			  "sameAs" : [
			    "http://plus.google.com/+Romaleevcom",
			    "http://linkedin.com/in/romaleev",
			    "http://www.facebook.com/romaleev",
			    "http://github.com/romaleev",
			    "http://instagram.com/romaleev",
			    "http://stackoverflow.com/users/991818/roman-malieiev"
			  ]
			}
	body
		a( href="http://plus.google.com/+Romaleevcom" rel="author" )
		a( href="http://plus.google.com/+Romaleevcom" rel="publisher" )
		a( href="http://plus.google.com/+Romaleevcom" rel="me" )

		nav.navbar.navbar-default.navbar-fixed-top( id="navbar" ng-controller="NavbarCtrl" )
			div.container-fluid
				div.navbar-header
					button.navbar-toggle( type="button" data-toggle="collapse" data-target=".navbar-collapse" )
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand( ui-sref="home" )
						img.logo( alt="Roman Malieiev" src="assets/img/logo.jpg" width="32" height="32")
						span( ng-bind="header_title" )

				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li( ui-sref-active="active" )
							a.hidden-xs( ui-sref="home" ) Home
							a.visible-xs( ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse" ) Home
						li.dropdown( ng-class="{ active: $state.includes('validation') || $state.includes('people')}" )
							a.dropdown-toggle( data-toggle="dropdown" role="button" aria-expanded="false" href="" ) Examples
								span.caret
							ul.dropdown-menu( role="menu"  )
								li( ng-class="{ active: $state.includes('people') }" )
									a.hidden-xs( ui-sref="people.list" ) People
									a.visible-xs( ui-sref="people.list" data-toggle="collapse" data-target=".navbar-collapse" ) People
								li.divider
								li( ng-class="{ active: $state.includes('validation') }" )
									a.hidden-xs( ui-sref="validation" ) Validation
									a.visible-xs( ui-sref="validation" data-toggle="collapse" data-target=".navbar-collapse" ) Validation

		div.container-fluid( ui-view )

		hr

		div.text-center
			p © Roman Malieiev 2012 - 2015

		// build:js scripts/vendor.js
		//- vendorJS:js
		script(src="../bower_components/jquery/dist/jquery.min.js")
		script(src="../bower_components/angular/angular.min.js")
		script(src="../bower_components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="../bower_components/angular-bootstrap/ui-bootstrap.min.js")
		script(src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(src="../bower_components/angular-sanitize/angular-sanitize.min.js")
		script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="../bower_components/json-formatter/dist/json-formatter.min.js")
		//- endinject
		// endbuild

		// build:js scripts/scripts.js
		//- userJS:js
		script(src="app/app.js")
		script(src="components/services/people.service.js")
		script(src="components/directives/form/form-submit/form-submit.controller.js")
		script(src="components/directives/form/form-select/form-select.controller.js")
		script(src="components/directives/form/form-parent/form-parent.controller.js")
		script(src="components/directives/form/form-input/form-input.controller.js")
		script(src="components/directives/form/form-date/form-date.controller.js")
		script(src="components/filters.js")
		script(src="components/services/home.service.js")
		script(src="app/validation/validation.controller.js")
		script(src="app/people/people.controller.js")
		script(src="app/home/home.controller.js")
		//- endinject
		// endbuild