/*.navbar,*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/OpenSansLatin600.woff2) format('woff2'), url(/fonts/OpenSansLatin600.woff) format('woff');
}
body {
	font-family: 'Open Sans';
	padding-top: 4em;
}
.logo{
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 0.7em;
	margin-top: -0.35em;
}
.container-fluid{
	margin: 0 auto;
	max-width: 55em;
}
#home{
	img{
		display: block;
		margin: 0 auto 1em auto;
		border-radius: 1em;
	}
	a.fa{
	/*	border:1px solid black;*/
	}
	.contact{
		padding: 0.5em;
		min-width: 6em;
		a{
			color: grey;
			&:hover{
				color: red;
				text-decoration: none;
			}
		}

	}
}

.collapsing {/*webkit fix*/
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: height 0.35s ease 1s linear;
  transition: height 0.35s ease 1s linear;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
