/*.navbar,*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/assets/fonts/OpenSansLatin600.woff2') format('woff2'), url('/assets/fonts/OpenSansLatin600.woff') format('woff');
}
.bold{
	font-size: 120%;
	line-height: 1.2em;
}
.fit-width{
	width: 100%;
}
body{
	font-family: 'Open Sans';
	padding-top: 4em;
	div.container-fluid{
		margin: 0 auto;
		max-width: 70em;
	}
}
img.logo{
	float: left;
	margin-right: 0.7em;
	margin-top: -0.35em;
}

.collapsing {/*webkit fix*/
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: height 0.35s ease 1s linear;
  transition: height 0.35s ease 1s linear;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

@font-face {/*font-awesome fix*/
  font-family: 'FontAwesome';
  src: url('/assets/fonts/fontawesome-webfont.woff2') format('woff2'), url('/assets/fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {/*font-bootstrap fix*/
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff');
}
