div( id='details' )
	h1 Person

	table.details
		tr( ng-repeat="key in person | keys" )
			td( ng-bind='key' )
			td( ng-bind-html='person[key]' )

	button.btn.btn-warning Hire

	a.pull-right.btn.btn-primary( href="/directory" ) View Directory
