div( id='details' )
	h1 Person

	table.details
		tr( ng-repeat="key in person | keys" )
			td( ng-bind='key' )
			td( ng-bind-html='person[key]' )

	div.pull-right
		a.btn.btn-primary( href="/directory" ) Go back
		button.btn(
			ng-class="hired ? 'btn-danger' : 'btn-success'"
			ng-click="hired = hire(id)"
		) {{hired ? 'Dismiss' : 'Hire'}}