div( id='details' )
	h2 Person

	table.details
		tr( ng-repeat="key in person | keys" )
			td( ng-bind='key' )
			td( ng-bind-html='person[key]' )

	div
		a.btn.col-xs-6.col-sm-2.col-lg-2.pull-right(
			ng-class="hired ? 'btn-danger' : 'btn-success'"
			ng-click="hired = hire(id)"
		) {{hired ? 'Dismiss' : 'Hire'}}
		a.btn.btn-primary.col-xs-6.col-sm-2.col-lg-2.pull-right( href="/directory" ) Back