div( id="home" )
	img( src="img/roma.jpg" )
	h4.text-center Web Developer | Krakow, Poland

	div.row.text-center
		div.contact.col-xs-4.col-sm-2.col-md-1.col-md-push-1.col-lg-1.col-lg-push-1( ng-repeat="contact in contacts" )
			a.fa.fa-5x(
				ng-href="{{contact.url}}",
				title="{{contact.title}}",
				class="{{contact.icon}}",
				target="_blank"
			)